*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FF4365;
    text-align: center;
}
.container{
    height: 70vh;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #00D9C0;
    background-color: #FFFFF3;
}
#resetBtn{
    background-color: #030301;
    border-radius: 1rem;
    border: none;
    color: white;
    margin-bottom: 10vmin;
    padding: 1rem;
    font-size: 1.25rem;
}
#msg{
    font-size: 5vmin;
    color: #FFFFF3;
}

.msgContainer{
    height: 100vmin;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hide{
    display: none;
}
#newBtn{
    background-color: #030301;
    border-radius: 1rem;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1.25rem;
}